# Node
node_modules/
.pnpm-store/

# Expo
.expo/
.expo-shared/
dist/

# Next.js
.next/
out/

# NestJS
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

# Build
build/
tmp/
.cache/

# TypeScript
*.tsbuildinfo